.container .header-name {
    height: 100%;
    background: #4aaaa5;
}

body {
    background-image: url(resources/img/dust_scratches.png);
}

.main-content-h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 0.5em;
    border-bottom: 1px #333 solid;
    color: #4aaaa5;
    font-weight: 700;
}

.main-content-text {
    color: #333;
}

.connect-header {
    text-align: center;
}

.contact-icon {
    list-style: none;
    display: inline-block;
    overflow: hidden;
}

.contact-icon img {
   width: 50px;
   text-align: center;
}

.btn-form-override {
    background: #4aaaa5 !important;
    border: none;
}

section {
    height: minheight(80vh);
}

footer {
    margin-top: 20px;
    background: #333;
    color: #fff;
    border-top: #4aaaa5 3px solid;
}

.port-banner {
    background: #4aaaa5;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}

